@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainButton {
    @apply mt-5 w-[80vw] rounded-subRounded bg-white px-4 py-2 text-lg font-bold text-light-blue sm:w-full;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  scroll-margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #abe2f8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
